@page
@model Training_Unaiit.Areas_Grade_Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GradeTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradeTable.Id" />
            <div class="form-group">
                <label asp-for="GradeTable.Name" class="control-label"></label>
                <input asp-for="GradeTable.Name" class="form-control" />
                <span asp-validation-for="GradeTable.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeTable.Capacity" class="control-label"></label>
                <input asp-for="GradeTable.Capacity" class="form-control" />
                <span asp-validation-for="GradeTable.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeTable.Founded" class="control-label"></label>
                <input asp-for="GradeTable.Founded" class="form-control" />
                <span asp-validation-for="GradeTable.Founded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeTable.Creator" class="control-label"></label>
                <input asp-for="GradeTable.Creator" class="form-control" />
                <span asp-validation-for="GradeTable.Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="form-label"></label>
                <div>
                    @Html.DropDownListFor(m => m.GradeTable.FacultyId, @Model.allFal, new { @class = "form-control" })
                </div>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
